.side {
  background-color: #45b3e6;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
}

.side.show {
  width: 5vw; /* width when it's open */
}

.sidebar-profile {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-picture {
  border-radius: 50%;
  width: 50%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.sidebar-profile h3 {
  margin-top: 20px;
  color: #fff;
}

.list-group {
  margin-top: 20px;
}

.list-group a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.list-group a.active,
.list-group a:hover {
  background-color: #6bbee5;
}

.sidebar-footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.sidebar-footer .btn {
  width: 90%;
  border-radius: 18px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .side,
  .side.show {
    width: 50%;
    left: 0;
  }
}
